<!DOCTYPE html>
<html lang="en">
<head>
	<title>vkstats</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<meta name="description" content="App shows some vk statistic" />
	<meta name="author" content="Alexander Amirov" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shrotcut icon" type="image/x-icon" href="">
</head>
<body>
	<header class="main-header">
		<h1><a href="/"><span class="midnight-blue">VK</span>stats</a></h1>
	</header>
	<main class="main-content">
		<article class="search posts-search">
			<div class="scroller">
			<div class="content">
				<form class="search-form" action="search" method="POST">
					<p class="input-group">
						<label for="publics">publics:</label>
						<input type="search" name="publics" id="publics" required />
					</p>
					<p class="input-group">
						<label for="keywords">keywords:</label>
						<input type="text" name="keywords" id="keywords" />
					</p>
					<p class="input-group">
						<label for="posts-quantity">quantity:</label>
						<input type="number" name="quantity" min="1" id="posts-quantity" value="5" required />
					</p>
					<input type="submit" value="Search">
				</form>
				<section class="posts">
				</section>
			</div>
			</div>
			<header class="title">
				<h2>Posts search</h2>
			</header>
		</article>
	</main>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>